
.navbar{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding:  0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navbar ul{
    margin: 0;
    padding: 0;
}
.navbar ul li{
 
    list-style: none;
    display: inline-block;
}
.navbar ul li a {
    text-decoration: none;
    display: block;

    text-transform: capitalize;

    color:black;
    padding: 0 10px;
}

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    .dropdown li a,button, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 0px;
        text-decoration: none;
      }
      
      .dropdown  li a:hover,,button, .dropdown:hover .dropbtn {
        background-color: red;
        
      }
      
      .dropdown  li.dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {background-color: #f1f1f1;}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .Menu{
        flex: 1;
        justify-items: center;
        background-color: red;
        width: 90px;
        height: 90px;
        color:white;
        text-align: center;
        align-items: center;
        font-size: 24px;
        padding-top: 17px;
    }