.searchcontainer {
    padding-top: 5%;
    width: 95%;
    margin: 0 auto;
}
.postImageWrapper {
    max-width: 50%;
    height: 50%;
    object-fit: fill;
}
.imgu{
    width:100%
}
.Card {
    height: 50%; 
}
