.loginContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px;
}

.cardHeader2{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #333 ;
    padding: 20px;
}
.profileImageContainer3
{   
    padding: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ckl{

    width:100%;
}
.Card{
    margin-top: 200px;
    margin-bottom: 200px;
}

.inputdata{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.createacc {

    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: 1px !important;
    color: #333;
    padding: 0px;
}

